<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/css/StylePostComments.css" />
    <title>xxx</title>

</head>
<body>
<div class="mainPost">
    <div class="container">
        <div class="post">
            <div class="header">
                <div class="avatar"></div>
                <div class="info">
                    <div class="username">{{ .posts.AuthorName }}</div>
                    <div class="timestamp">{{ .posts.DateCreatedFormat }}</div>
                </div>
            </div>
            <div class="title">{{ .posts.Title }}</div>
            <div class="content">
                {{ .posts.Text }}
            </div>
        </div>
        <div class="footer">
{{/*            <div class="likes">*/}}
{{/*                <button>*/}}
{{/*                    <p>Лайки: 100k</p>*/}}
{{/*                </button>*/}}
{{/*            </div>*/}}
            <div class="comments">
                <button>
                    <p>Комментарии: {{ .posts.CommentsCount }}</p>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="containerComments">
    <div class="mainComments">
        {{if .posts.Comments}}
            {{ range .posts.Comments }}
                <div class="comment">
                    <div class="info">
                        <div class="username">{{ .AuthorName }}</div>
                        <div class="timestamp">{{ .DateCreatedFormat }}</div>
                    </div>
                    <div>
                        {{ .Text }}
                    </div>
                </div>
            {{end}}

            {{else}}
                <div class="comment">
        <div class="info">
            <div class="username">Нет комментариев</div>
        </div>
    </div>
    {{end}}
</div>

<div class="mainInput">
    <p title="{{ .userID }}" class="hidenNickName" id="NickName">{{ .userName }}</p>
        <input class="input" id="inputComment" />
        <button id="btnSendComment"></button>
    </div>
</div>
<script src="/assets/js/ScriptPostComments.js"></script>
</body>
</html>
