<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/StylePosts.css" />
  <link href="/assets/css/styleProfile.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/styleMenu.css" />
  <link rel="stylesheet" href="/assets/css/StylePopup.css">
  <title>Profile</title>
  <style>
    #registration-date {
      color: #9d9d9d;
    }
    a{
      color:inherit;
      text-decoration: none;
    }
    .menu{
      margin-right: 4%;
    .btn-back{
      background-color: #f7a600;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      width: 150px;
    }
    .btn-back:hover {
      background-color: #d68900;
    }
    a{
      text-decoration: none;
      color:  inherit;
    }
    .a-back{
      margin-right: 5%;
      margin-top: 1%;
    }
    }
  </style>
</head>
<body>
<div style="display: block">
  <div style="display: flex">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="/" class="menu__link">Лента</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Месседжер</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Друзья</a>
        </li>
      </ul>
    </nav>
    <form>
      <div class="main-info">
        <img class="avatar" alt="Avatar" />
        <div class="text-info">
          <p style="color: #f7a600; margin-bottom: 10px" id="name-user"></p>
          <p id="date-user">
            Дата регистрации на сайте: <span id="registration-date"></span>
          </p>
          <article id="description-user"></article>
        </div>
      </div>
      {{if .UserAuthorization}}
        <div class="btn-container">
          <button class="btn-edit" type="button">Изменить данные</button>
        </div>
      {{end}}
    </form>
  </div>

  <div style="display: flex; margin-top: 20px;">

    {{if .UserAuthorization}}
    <div>
      <button class="btnLoadPosts" id="BtnCreateNewPost" style="cursor: pointer">
        <a style="color: #1C1C1C">Создать новый пост</a>
      </button>
    </div>
    {{else}}
      <div>
        <button class="btnLoadPosts" id="BtnCreateNewPost" style="cursor: pointer; opacity: 0; pointer-events: none;">
          <a style="color: #1C1C1C">Создать новый пост</a>
        </button>
      </div>
    {{end}}

    <div class="posts">
      <div class="posts__inner">
        <div id="MainPosts" class="mainPost">
          {{if .posts}}
            {{range .posts}}
              <div id="mainPost__inner" class="mainPost__inner">
                <div class="post">
                  <div class="post__header">
                    {{if .AvatarValid }}
                        <div><img class="post__avatar" src="{{ .Avatar }}"/></div>
                    {{else}}
                        <div><img class="post__avatar" src="/assets/img/avatar.svg"/></div>
                    {{end}}
                    <div class="info">
                      <div title="{{.AuthorId}}" class="username"><a href="http://localhost:8080/profileUser?userId={{.AuthorId}}">{{ .AuthorName }}</a></div>
                      <div class="timestamp">{{ .DateCreatedFormat }}</div>
                    </div>
                    {{if $.UserAuthorization}}
                      <div class="post__options">
                        <button style="cursor: pointer" class="BtnEditPost" title="{{.Title}}|{{.Text}}" id="BtnEdit_{{.Id}}">
                          <img style="cursor: pointer" src="/assets/img/edit_pen.svg"/>
                        </button>
                        <button style="cursor: pointer" class="BtnDelPost" title="{{.Title}}|{{.Text}}" id="BtnDel_{{.Id}}">
                          <img style="cursor: pointer" src="/assets/img/DelTrash.svg"/>
                        </button>
                      </div>
                    {{else}}
                      <div class="post__options">
                        <button style="cursor: pointer" class="BtnSharePost" title="{{.Id}}" id="BtnShare_{{.Id}}">
                          <img style="cursor: pointer" src="/assets/img/SharePost.svg"/>
                        </button>
                      </div>
                    {{end}}
                  </div>
                  <div class="title">{{ .Title }}</div>
                  <div class="content">
                    {{ .Text}}
                  </div>
                </div>
                <div class="footer">
                  <div class="comments">
                    <a class="commentCount" href="/h/post/{{ .Id }}/comments">
                      Комментарии: {{ .CommentsCount }}
                    </a>
                  </div>
                </div>
              </div>
            {{end}}
            <div id="Main__BtnLoadPosts" class="btnLoadPosts" >
              <button id="BtnLoadPosts">
                <a style="font-size: 20px">Загрузить еще</a>
              </button>
            </div>
          {{else}}
            <div class="btnLoadPosts" >
              <button>
                <a style="font-size: 20px">Нет постов</a>
              </button>
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Pop_up" class="pop_up">
  <div class="pop_up_container">
    <div class="pop_up_body">
      <p>Создание поста</p>
      <textarea class="TitleInput" id="TitleInput" rows="2" placeholder="Загаловок"></textarea>
      <textarea class="TextInput" id="TextInput" rows="2" placeholder="Текст поста..."></textarea>
      <div class="pop_up__Btn">
        <div class="BtnClose">
          <button id="BtnClose">
            <p>Отмена</p>
          </button>
        </div>
        <div class="BtnSucces">
          <button id="BtnSucces">
            <p>Создать пост</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Pop_upEdit" class="pop_up">
  <div class="pop_up_container">
    <div class="pop_up_body">
      <p>Редактирование поста</p>
      <textarea class="TitleInput" id="TitleInputEdit" rows="2" placeholder="Загаловок"></textarea>
      <textarea class="TextInput" id="TextInputEdit" rows="2" placeholder="Текст поста..."></textarea>
      <div class="pop_up__Btn">
        <div class="BtnClose">
          <button id="BtnCloseEdit">
            <p>Отмена</p>
          </button>
        </div>
        <div class="BtnSucces">
          <button id="BtnSuccesEdit">
            <p>Изменить пост</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Pop_upDel" class="pop_up">
  <div class="pop_up_container">
    <div class="pop_up_body">
      <p style="color: #ff0000">Удаление поста</p>
      <textarea class="TitleInput" id="TitleInputDel" rows="2" placeholder="Загаловок" readonly></textarea>
      <textarea class="TextInput" id="TextInputDel" rows="2" placeholder="Текст поста..." readonly></textarea>
      <div class="pop_up__Btn">
        <div class="BtnClose">
          <button id="BtnCloseDel">
            <p>Отмена</p>
          </button>
        </div>
        <div class="BtnSucces">
          <button id="BtnSuccesDel">
            <p>Удалить</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/ScriptManagementPostUser.js"></script>
<script src="/assets/js/profileUser.js"></script>

</body>
</html>