<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/StylePosts.css" />
  <link href="/assets/css/styleProfile.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/styleMenu.css" />
  <link rel="stylesheet" href="/assets/css/StylePopup.css">
  <title>Profile</title>
  <style>
    #registration-date {
      color: #f7a600;
    }
    a{
      color:inherit;
      text-decoration: none;
    }
    .menu{
      margin-right: 4%;
    .btn-back{
      background-color: #f7a600;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      width: 150px;
    }
    .btn-back:hover {
      background-color: #d68900;
    }
    a{
      text-decoration: none;
      color:  inherit;
    }
    .a-back{
      margin-right: 5%;
      margin-top: 1%;
    }
    }
  </style>
</head>
<body>
<div style="display: block">
  <div style="display: flex">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="/" class="menu__link">Лента</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Месседжер</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Друзья</a>
        </li>
      </ul>
    </nav>
    <form>
      <div class="main-info">
        <img class="avatar" alt="Avatar" />
        <div class="text-info">
          <p id="name-user"></p>
          <p id="date-user">
            Дата регистрации на сайте: <span id="registration-date"></span>
          </p>
          <article id="description-user"></article>
        </div>
      </div>
      <div class="btn-container">
   <button class="btn-edit" type="button">Изменить данные</button>
      </div>
    </form>
  </div>

  <div style="display: flex; margin-top: 20px">

    <div>
      <button class="btnLoadPosts" id="BtnCreateNewPost" style="cursor: pointer">
        <a>Создать новый пост</a>
      </button>
    </div>

    <div class="posts">
      <div class="posts__inner">
        <div id="MainPosts" class="mainPost">
          {{if .posts}}
            {{range .posts}}
              <div id="mainPost__inner" class="mainPost__inner">
                <div class="post">
                  <div class="header">
                    <div class="post__avatar"></div>
                    <div class="info">
                      <div class="username">{{ .AuthorName }}</div>
                      <div class="timestamp">{{ .DateCreatedFormat }}</div>
                    </div>
                    <div class="post__options">
                      <img src="/assets/img/edit_pen.svg"/>
                    </div>
                  </div>
                  <div class="title">{{ .Title }}</div>
                  <div class="content">
                    {{ .Text}}
                  </div>
                </div>
                <div class="footer">
                  <div class="comments">
                    <a class="commentCount" href="/h/post/{{ .Id }}/comments">
                      Комментарии: {{ .CommentsCount }}
                    </a>
                  </div>
                </div>
              </div>
            {{end}}
            <div id="Main__BtnLoadPosts" class="btnLoadPosts" >
              <button id="BtnLoadPosts">
                <a style="font-size: 20px">Загрузить еще</a>
              </button>
            </div>
          {{else}}
            <div class="btnLoadPosts" >
              <button>
                <a style="font-size: 20px">Нет постов</a>
              </button>
            </div>
          {{end}}
        </div>
      </div>
<a class="a-back" href="/"><button class="btn-back" type="button">Назад</button></a>
    </div>
  </div>
</div>

<div id="Pop_up" class="pop_up">
  <div class="pop_up_container">
    <div class="pop_up_body">
      <p>Создание поста</p>
      <textarea class="TitleInput" id="TitleInput" rows="2" placeholder="Загаловок"></textarea>
      <textarea class="TextInput" id="TextInput" rows="2" placeholder="Текст поста..."></textarea>
      <div class="pop_up__Btn">
        <div class="BtnClose">
          <button id="BtnClose">
            <p>Отмена</p>
          </button>
        </div>
        <div class="BtnSucces">
          <button id="BtnSucces">
            <p>Создать пост</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const openPopUp = document.getElementById('BtnCreateNewPost')
  const closePopUp = document.getElementById('BtnClose')
  const popUp = document.getElementById('Pop_up')
  const createPost = document.getElementById('BtnSucces')

  openPopUp.onclick = () => {
    popUp.classList.add('active')
  }
  closePopUp.addEventListener('click', () => {
    popUp.classList.remove('active')
  })

  createPost.onclick = createNewPost
  console.log("sdfgiomsyhdtjju")
  function createNewPost() {
    const TitleInput = document.getElementById('TitleInput')
    const TextInput = document.getElementById('TextInput')
    const currentUrl = window.location.href;
    const url = new URL(currentUrl);
    const userId = url.searchParams.get('userId');

    if (TitleInput.value == "") {
      TitleInput.style.borderColor = '#ff0000'
      return
    }else {
      TitleInput.style.borderColor = 'transparent'
    }
    if (TextInput.value == "") {
      TextInput.style.borderColor = '#ff0000'
      return;
    }else {
      TextInput.style.borderColor = 'transparent'
    }

    let xhr = new XMLHttpRequest();
    xhr.open("POST", `/posts`);
    xhr.onload = function () {
      if (xhr.status >= 200 && xhr.status < 300) {
        let response = JSON.parse(xhr.responseText);
        console.log(response);
        location.reload();
      } else {
        console.error("Server error:", xhr.status, xhr.statusText);
        location.reload();
      }
    };


    let newPostData = JSON.stringify({
      title: TitleInput.value,
      text: TextInput.value,
      author_id: userId,
    });
    console.log(newPostData);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.send(newPostData);
    TitleInput.value = ""
    TextInput.value = ""
  }
</script>
<script src="/assets/js/profileUser.js"></script>
<script src="/assets/js/ScriptCreateNewPost.js"></script>
<script src="/assets/js/ScriptLoadUserPosts.js"></script>

</body>
</html>